img {
  max-width: 90%;
  max-height: 90%;
}
body {
  font-family:'Sansita', sans-serif;
  margin: ;
  padding: ;
}
header{
  display: flow-root;
  padding: 10px 50px;
  color: #9A3812;
  font-family:'Sansita Swashed', sans-serif;
}
main{
  color: #9A3812;
  text-align: center;
}
main h2{
    font-family:'Sansita Swashed', sans-serif;
}
main h3{
    font-family:'Sansita Swashed', sans-serif;
}
.topnav{
  float: left;
}
nav{
  float: right;
  margin-top: 20px
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
  margin-left: 25px
}
.row{
  float: left;
  margin: 25px auto;
}
.col-margin{
  background-size: cover;
      display: flow-root;
      height: 500px;
      float: left;
}
.col {
  width: 50%;
  float: right;
  display: flow-root;
  padding: 20px;
  }
  .col img{
width: 100%;
  }
  .sectionbreak{
    display: block;
  }
  .OurSpecials{
    text-decoration: underline;
  }
  .row2{
  margin: 100px auto;
  padding: 50px;
  }
.pictures img{
  width: 80%
}
.circle{
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgba(0, 0, 0, 0);
}
footer{
  text-align: center;
  color: #9A3812;
    font-family:'Sansita Swashed', sans-serif;
}
.Contactusnow{
   border-top: 1px solid #888;
}
@media only screen and (max-width: 1000px){
  .col {
    width 100%;
    .col-margin{
      margin: 0;
    }
  }
}
